<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.ac.massey.u159356.group4.fmg_remote_work_tracker">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
